.container {
  display: flex;
  background-image: url("./components/wallpaper.jpg");
  height: 45vw;
  justify-content: center;
  padding: 10px;
}
.head {
  color: black;
  font-size: 3em;
  width: 200px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(241, 207, 55);
  border-radius: 10px;
  position: absolute;
  right: 38.5%;
  box-shadow: 5px 10px black;
}

.directors {
  background-color: black;
  color: rgb(241, 207, 55);
  width: 200px;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  font-size: 2em;
  left: 5%;
  top: 10%;
  box-shadow: 4px 8px rgb(241, 207, 55);
}
.main-container {
  display: flex;
  background-color: grey;
  width: 70%;
  overflow: auto;
  margin: 5%;
  border-radius: 20px;
  position: relative;
  padding: 1%;
}
.movies {
  background-color: black;
  color: rgb(241, 207, 55);
  position: absolute;
  text-align: center;
  font-size: 2em;
  right: 5%;
  top: 10%;
  width: 200px;
  border-radius: 10px;
  box-shadow: 4px 8px rgb(241, 207, 55);
}
.directors-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 0%;
}

.directorsName {
  background-color: green;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  padding: 1%;
  margin: 3%;
  box-shadow: 3px 8px black;
}
.searchBar {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 5%;
}
.list {
  width: auto;
  list-style: none;
}
.movies-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  position: relative;
  margin-left: 50%;
}
.addNewDirector {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin-left: 60%;
  margin-top: 2%;
  font-weight: bold;
}
.addNewMovie {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin-left: 55%;
  margin-top: 2%;
  font-weight: bold;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  background-color: green;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 20px;
  margin-right: 70%;
  position: absolute;
  box-shadow: 8px 16px black;
  left: -80%;
  top: 25%;
}
.details {
  list-style: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 12.5%;
  justify-items: self-start;
  text-align: center;
  font-weight: bold;
}
.close {
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
}
.delete {
  float: right;
  background-color: black;
  font-weight: bold;
  color: white;
}
.Edit {
  float: right;
  background-color: black;
  font-weight: bold;
  color: white;
}

.addAndEdit {
  background-color: black;
  color: yellow;
  box-shadow: 3px 6px gray;
  width: 300px;
  position: absolute;
  border-radius: 10px;
  right: 0;
  margin-right: 20%;
  margin-top: 20%;
}
/* .EditMovies{
  position: ;
  
} */
.moviesName {
  width: 400px;
  background-color: green;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  padding: 1%;
  margin: 3%;
  box-shadow: 3px 8px black;
}
.addContainer {
  margin-left: -40%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 10px green;
  line-height: 1;
  word-wrap: wrap;
}
.moviesList {
  background-color: green;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 55%;
  margin-top: 20%;
  width: 400px;
  box-shadow: 5px 10px black;
  border-radius: 10px;
}
.movie {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
  justify-items: self-start;
  text-align: center;
  margin-right: 12.5%;
  margin-top: 5px;
  border-radius: 5px;
}
.input{
  margin:10px;
}
